<h1 class="text-center title">NEW FLAT</h1>

<div class="flex items-center justify-center h-screen text-center width-div">
<%= render "form", flat: @flat %>
</div>

<br>

<div class="text-center">
  <%= link_to "Back to flats", flats_path %>
</div>
